/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body {
    background-color: lightblue;
    padding: 50px;
}

.container {
    max-width: 80%;
    background-color: white;
    margin: 0 auto;
    height: 600px;
    padding: 20px;
    text-align: center;
}

.header {
    padding: 0 10px 10px 10px;
}

p {
    background-color: lightcoral;
    
}

.section-title {
    color: rgb(227, 53, 113);
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.box {
    background-color: black;
    color: white;
    float: left;
    width: calc(100% / 3 - 20px);
    margin-top: 30px;
    margin: 10px;
}

.profile-info {
    text-align: left;
    float: left;
    width: 70%;
    padding: 15px 5px;
}

.profile-img {
    float: left;
    width: 30%;
}

.img {
    width: 100%;
    min-height: 80px;
    min-width: 80px;
    display: block;
}